<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form
                  class="user"
                  #tForm="ngForm"
                  (ngSubmit)="loginSubmit($event, tForm.value)"
                >
                  <div class="form-group">
                    <input
                      name="email"
                      #tEmail="ngModel"
                      ngModel
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      aria-describedby="emailHelp"
                      placeholder="Enter Email Address..."
                      required
                      email
                    />
                    <div *ngIf="tEmail.invalid">
                      <p *ngIf="tEmail.hasError('required')">
                        Email is required
                      </p>
                      <p *ngIf="tEmail.hasError('email')">Email is invalid</p>
                    </div>

                    <p>tEmail.value = {{ tEmail.value }}</p>
                    <p>tEmail.valid = {{ tEmail.valid }}</p>
                    <p>tEmail.invalid = {{ tEmail.invalid }}</p>
                    <p>tEmail.touched = {{ tEmail.touched }}</p>
                    <p>tEmail.untouched = {{ tEmail.untouched }}</p>
                    <p>tEmail.pristine = {{ tEmail.pristine }}</p>
                    <p>tEmail.dirty = {{ tEmail.dirty }}</p>
                    <p>tEmail.errors</p>
                    <pre>{{ tEmail.errors | json }}</pre>
                  </div>
                  <div class="form-group">
                    <input
                      name="password"
                      #tPassword="ngModel"
                      ngModel
                      type="password"
                      class="form-control form-control-user"
                      id="exampleInputPassword"
                      placeholder="Password"
                      required
                      minlength="6"
                    />
                    <div *ngIf="tPassword.invalid">
                      <p *ngIf="tPassword.hasError('required')">
                        Password is required
                      </p>
                      <p *ngIf="tPassword.hasError('minlength')">
                        <span>Password length</span>
                        <span>{{
                          tPassword.getError("minlength").actualLength
                        }}</span>
                        <span>/</span>
                        <span>{{
                          tPassword.getError("minlength").requiredLength
                        }}</span>
                      </p>
                      <pre *ngIf="tPassword.hasError('minlength')">
                        {{ tPassword.getError("minlength") | json }}
                      </pre>
                    </div>

                    <p>tPassword = {{ tPassword.value }}</p>
                  </div>
                  <div ngModelGroup="profile">
                    <div class="form-group">
                      <input
                        disabled
                        name="firstName"
                        ngModel="Mike"
                        type="text"
                        class="form-control form-control-user"
                        placeholder="First Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        disabled
                        name="lastName"
                        ngModel="Huang"
                        type="text"
                        class="form-control form-control-user"
                        placeholder="Last Name"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input
                        #tRememberMe="ngModel"
                        ngModel
                        name="rememberMe"
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck"
                      />
                      <label class="custom-control-label" for="customCheck"
                        >Remember Me</label
                      >
                      <p>tRememberMe.value = {{ tRememberMe.value }}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input
                        ngModel
                        [ngModelOptions]="{ standalone: true }"
                        #tAgreement="ngModel"
                        type="checkbox"
                        class="custom-control-input"
                        id="agreement"
                      />
                      <label class="custom-control-label" for="agreement"
                        >Agreement</label
                      >
                    </div>
                  </div>

                  <div>tForm.value</div>
                  <pre>{{ tForm.value | json }}</pre>
                  <div>tForm.control.getRawValue()</div>
                  <pre>{{ tForm.control.getRawValue() | json}}</pre>

                  <!-- <button
                    type="submit"
                    [disabled]="!tAgreement.value"
                    (click)="login(tForm.value)"
                    class="btn btn-primary btn-user btn-block"
                  > -->
                  <button
                    type="submit"
                    [disabled]="tForm.invalid"
                    (click)="login(tForm.value)"
                    class="btn btn-primary btn-user btn-block"
                  >
                    Login
                  </button>
                  <p>tForm.value = {{ tForm.value | json }}</p>
                  <p>tForm.valid = {{ tForm.valid }}</p>
                  <p>tForm.invalid = {{ tForm.invalid }}</p>
                  <p>tForm.touched = {{ tForm.touched }}</p>
                  <p>tForm.untouched = {{ tForm.untouched }}</p>
                  <p>tForm.pristine = {{ tForm.pristine }}</p>
                  <p>tForm.dirty = {{ tForm.dirty }}</p>
                  <p>tForm.errors</p>
                  <pre>{{ tForm.errors | json }}</pre>
                  <hr />
                  <a
                    href="index.html"
                    class="btn btn-google btn-user btn-block"
                  >
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a
                    href="index.html"
                    class="btn btn-facebook btn-user btn-block"
                  >
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
